<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_002{font-family:Arial,serif;font-size:8.1px;color:rgb(73,78,94);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:8.1px;color:rgb(73,78,94);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_003{font-family:Arial,serif;font-size:8.1px;color:rgb(73,78,94);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:8.1px;color:rgb(73,78,94);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:8.1px;color:rgb(73,78,94);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:8.1px;color:rgb(73,78,94);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:8.1px;color:rgb(73,78,94);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_006{font-family:Arial,serif;font-size:8.1px;color:rgb(73,78,94);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:10.1px;color:rgb(73,78,94);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:10.1px;color:rgb(73,78,94);font-weight:bold;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="9cf72092-9c2b-11ea-8b25-0cc47a792c0a_id_9cf72092-9c2b-11ea-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:842px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="9cf72092-9c2b-11ea-8b25-0cc47a792c0a_id_9cf72092-9c2b-11ea-8b25-0cc47a792c0a_files/background1.jpg" width=595 height=842></div>
<div style="position:absolute;left:310.35px;top:56.02px" class="cls_002"><span class="cls_002">WORK HISTORY</span></div>
<div style="position:absolute;left:310.35px;top:89.23px" class="cls_002"><span class="cls_002">Internship Content Management SEC</span></div>
<div style="position:absolute;left:310.35px;top:106.15px" class="cls_003"><span class="cls_003">Mercedes Benz AG | Sep 2019 - Mar 2020</span></div>
<div style="position:absolute;left:322.06px;top:124.57px" class="cls_003"><span class="cls_003">Take Rate prediction of special features</span></div>
<div style="position:absolute;left:322.06px;top:134.83px" class="cls_003"><span class="cls_003">Evaluation of economic profitability</span></div>
<div style="position:absolute;left:322.06px;top:147.97px" class="cls_003"><span class="cls_003">Determination of potentials to reduce variations</span></div>
<div style="position:absolute;left:322.06px;top:162.73px" class="cls_003"><span class="cls_003">within special features</span></div>
<div style="position:absolute;left:310.35px;top:188.40px" class="cls_002"><span class="cls_002">Working Student</span></div>
<div style="position:absolute;left:310.35px;top:207.10px" class="cls_003"><span class="cls_003">University Konstanz | Nov 2019 - Jan 2020</span></div>
<div style="position:absolute;left:322.06px;top:222.65px" class="cls_003"><span class="cls_003">Applied statistical techniques to diagnose problems</span></div>
<div style="position:absolute;left:322.06px;top:235.79px" class="cls_003"><span class="cls_003">in development policies</span></div>
<div style="position:absolute;left:322.06px;top:250.55px" class="cls_003"><span class="cls_003">Data Visualization with Stata</span></div>
<div style="position:absolute;left:25.60px;top:268.53px" class="cls_002"><span class="cls_002">LUCAS HAGELSTEIN</span></div>
<div style="position:absolute;left:310.35px;top:278.64px" class="cls_002"><span class="cls_002">Apprenticeship</span></div>
<div style="position:absolute;left:60.67px;top:293.54px" class="cls_004"><span class="cls_004">J U N I O R   D A T A   S C I E N T I S T</span></div>
<div style="position:absolute;left:310.35px;top:291.40px" class="cls_003"><span class="cls_003">GARPA GmbH | Aug 2014 - June 2016</span></div>
<div style="position:absolute;left:322.06px;top:309.71px" class="cls_003"><span class="cls_003">Wholesale and Foreign Trade</span></div>
<div style="position:absolute;left:310.35px;top:341.61px" class="cls_002"><span class="cls_002">ACADEMIC HISTORY</span></div>
<div style="position:absolute;left:41.13px;top:361.49px" class="cls_002"><span class="cls_002">PERSONAL SUMMARY</span></div>
<div style="position:absolute;left:310.35px;top:371.30px" class="cls_002"><span class="cls_002">Erasmus University Rotterdam, NL</span></div>
<div style="position:absolute;left:40.78px;top:378.90px" class="cls_003"><span class="cls_003">I am an aspiring data scientist with a</span></div>
<div style="position:absolute;left:310.35px;top:388.25px" class="cls_003"><span class="cls_003">Master of Science | Sep 2020 - today</span></div>
<div style="position:absolute;left:40.78px;top:392.77px" class="cls_003"><span class="cls_003">broad foundation in economics &</span></div>
<div style="position:absolute;left:310.35px;top:405.73px" class="cls_003"><span class="cls_003">MS Data Science & Marketing Analytics</span></div>
<div style="position:absolute;left:40.78px;top:410.29px" class="cls_003"><span class="cls_003">business studies.</span></div>
<div style="position:absolute;left:322.06px;top:417.95px" class="cls_003"><span class="cls_003">Programming with R</span></div>
<div style="position:absolute;left:40.78px;top:420.51px" class="cls_003"><span class="cls_003">By my solution-oriented attitude I</span></div>
<div style="position:absolute;left:322.06px;top:433.30px" class="cls_003"><span class="cls_003">Text Analytics</span></div>
<div style="position:absolute;left:40.78px;top:434.39px" class="cls_003"><span class="cls_003">provide excellent communication</span></div>
<div style="position:absolute;left:322.06px;top:443.88px" class="cls_003"><span class="cls_003">New Media Analytics</span></div>
<div style="position:absolute;left:40.78px;top:450.06px" class="cls_003"><span class="cls_003">skills as well as the ability of strong</span></div>
<div style="position:absolute;left:404.90px;top:459.20px" class="cls_003"><span class="cls_003">oriented projects</span></div>
<div style="position:absolute;left:322.06px;top:455.92px" class="cls_003"><span class="cls_003">Business problem</span></div>
<div style="position:absolute;left:40.78px;top:465.95px" class="cls_003"><span class="cls_003">analytical thinking.</span></div>
<div style="position:absolute;left:310.35px;top:484.12px" class="cls_002"><span class="cls_002">University of Konstanz, GER</span></div>
<div style="position:absolute;left:310.35px;top:500.36px" class="cls_003"><span class="cls_003">Bachelor of Science | Oct 2016 - July 2020</span></div>
<div style="position:absolute;left:40.95px;top:519.14px" class="cls_002"><span class="cls_002">TOOLS</span></div>
<div style="position:absolute;left:152.68px;top:519.56px" class="cls_002"><span class="cls_002">LIBRARIES</span></div>
<div style="position:absolute;left:310.35px;top:516.99px" class="cls_003"><span class="cls_003">BS Economics | Quantitative</span></div>
<div style="position:absolute;left:310.35px;top:530.76px" class="cls_003"><span class="cls_003">Thesis: "Development Opportunities of Micro-Entrepreneurs:</span></div>
<div style="position:absolute;left:40.78px;top:539.03px" class="cls_003"><span class="cls_003">Python</span></div>
<div style="position:absolute;left:152.54px;top:538.93px" class="cls_003"><span class="cls_003">Pandas</span></div>
<div style="position:absolute;left:341.58px;top:542.44px" class="cls_003"><span class="cls_003">Evidence from Kenya"</span></div>
<div style="position:absolute;left:40.78px;top:552.37px" class="cls_003"><span class="cls_003">R</span></div>
<div style="position:absolute;left:152.54px;top:549.15px" class="cls_003"><span class="cls_003">Numpy</span></div>
<div style="position:absolute;left:349.38px;top:553.91px" class="cls_003"><span class="cls_003">Explorative analysis of profit changes over time within</span></div>
<div style="position:absolute;left:40.78px;top:567.36px" class="cls_003"><span class="cls_003">Stata</span></div>
<div style="position:absolute;left:152.54px;top:566.48px" class="cls_003"><span class="cls_003">SciKit-Learn</span></div>
<div style="position:absolute;left:349.38px;top:564.86px" class="cls_003"><span class="cls_003">business sectors in response to several training methods</span></div>
<div style="position:absolute;left:349.38px;top:575.81px" class="cls_003"><span class="cls_003">Elaboration of the link between economic activity and</span></div>
<div style="position:absolute;left:40.78px;top:579.04px" class="cls_003"><span class="cls_003">SQL</span></div>
<div style="position:absolute;left:152.54px;top:578.13px" class="cls_003"><span class="cls_003">MatplotLib</span></div>
<div style="position:absolute;left:349.38px;top:589.53px" class="cls_003"><span class="cls_003">business sectors</span></div>
<div style="position:absolute;left:40.78px;top:593.26px" class="cls_003"><span class="cls_003">Jupyter Notebook</span></div>
<div style="position:absolute;left:152.54px;top:594.45px" class="cls_003"><span class="cls_003">Seaborn</span></div>
<div style="position:absolute;left:349.38px;top:597.72px" class="cls_003"><span class="cls_003">Predicting the growth probability after 12 months within</span></div>
<div style="position:absolute;left:40.78px;top:605.87px" class="cls_003"><span class="cls_003">Microsoft Office</span></div>
<div style="position:absolute;left:152.54px;top:606.44px" class="cls_003"><span class="cls_003">TensorFlow</span></div>
<div style="position:absolute;left:349.38px;top:611.43px" class="cls_003"><span class="cls_003">several business sectors</span></div>
<div style="position:absolute;left:152.54px;top:621.80px" class="cls_003"><span class="cls_003">BeautifulSoup</span></div>
<div style="position:absolute;left:310.35px;top:635.00px" class="cls_002"><span class="cls_002">Utrecht University, NL</span></div>
<div style="position:absolute;left:310.35px;top:648.01px" class="cls_003"><span class="cls_003">Semester Abroad | Sep 2018 - Feb 2019</span></div>
<div style="position:absolute;left:322.06px;top:665.12px" class="cls_003"><span class="cls_003">Econometrics</span></div>
<div style="position:absolute;left:40.78px;top:679.09px" class="cls_002"><span class="cls_002">CONTACT DETAILS</span></div>
<div style="position:absolute;left:322.06px;top:679.61px" class="cls_003"><span class="cls_003">Operations & Supply Chain Management</span></div>
<div style="position:absolute;left:322.06px;top:691.05px" class="cls_003"><span class="cls_003">Financial Markets and Institutions</span></div>
<div style="position:absolute;left:73.43px;top:700.29px" class="cls_003"><span class="cls_003">Lucas.Hagelstein@gmail.com</span></div>
<div style="position:absolute;left:73.43px;top:729.05px" class="cls_006"><span class="cls_006"> </span><A HREF="https://www.linkedin.com/in/lucas-hagelstein-832375182/">LinkedIn</A> </div>
<div style="position:absolute;left:310.35px;top:722.78px" class="cls_002"><span class="cls_002">WORK REFERENCES</span></div>
<div style="position:absolute;left:89.27px;top:752.65px" class="cls_003"><span class="cls_003"> </span><A HREF="https://github.com/LHAGELS">Hub</A> </div>
<div style="position:absolute;left:73.43px;top:753.10px" class="cls_003"><span class="cls_003"> </span><A HREF="https://github.com/LHAGELS">Git</A> </div>
<div style="position:absolute;left:310.35px;top:754.24px" class="cls_005"><span class="cls_005">Maren Köhler</span></div>
<div style="position:absolute;left:310.35px;top:770.18px" class="cls_003"><span class="cls_003">CEO, GARPA GmbH</span></div>
<div style="position:absolute;left:310.35px;top:783.32px" class="cls_003"><span class="cls_003">Email: maren.koehler@garpa.de</span></div>
</div>

</body>
</html>
