---
layout: home
---

{{ content }}

<head>
  <link rel="stylesheet" href="styles_home.css">
</head>

<section class="hero">
    <div class="hero-content">
       <h1 class="hero-title">
            Welcome on my Data Science Blog !
       </h1>
       <h2 class="hero-subtitle">
            If you need consultation in data science projects, do not hesitate to contact me!
       </h2>
       <button type="button" class="hero-button" onclick="location.href='/home/'">
            &raquo Follow me! &laquo;
       </button>
    </div>
</section>
